@use "global" as *;

.blog-card {
  background-color: $white;
}

.blog-card__inner {
  padding: rem(16) rem(16) rem(24);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__content {
  margin-top: rem(17);
}