@use "global" as *;

.campaign-text-box {
  margin-top: rem(8);
  padding-inline: rem(18);
  @include mq(md){
    margin-top: rem(16);
}
}

.campaign-text-box__title  {
  text-align: center;
  font-size: rem(14);
  line-height: calc(24/14);
  @include mq(md){
      font-size: rem(16);
  }
}

.campaign-text-box__price{
  margin-top: rem(8);
}
