@use "global" as *;

.campaign-content {
  padding: rem(16) rem(16) rem(24);
  @include mq(md){
      padding: rem(24) rem(16) rem(40);
  }
}

.campaign-content__category {
  width: fit-content;
  padding: rem(4) rem(12);
  border: 1px solid $green-accent;
  font-family: $jp1-font-family;
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(22/12);
  color: $green-accent;
}

.campaign-content__title {
  margin-top: rem(4);
  padding-bottom: rem(8);
  border-bottom: 1px solid $green-accent;
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(24/16);
}
