@use "global" as *;

.price-works__inner{
  max-width: rem(600);
}

.price-works__items{
  margin-top: rem(27);
  // padding-top: rem(26);
  @include mq("md"){
    margin-top:  rem(35);
  }
}

.price-works__button{
  margin-top: rem(32);
  padding-bottom: rem(5);
  padding-right: rem(5);
  text-align: center;

  @include mq("md") {
    margin-top: rem(64);
  }
}