@use "global" as *;

.section-header {
  text-align:center;
}

.section-header__title ,.section-header__title-w {
  text-transform: lowercase;
  color: $green;
  font-family: $en-font-family;
  font-weight: $normal;
  line-height: calc(40/32);
  font-size: rem(32);

  @include mq("md") {
    font-size: rem(40);
  }
}

.section-header__title::first-letter {
  color: $green-accent;
  text-transform: capitalize;
}

.section-header__title-w::first-letter{
  text-transform: capitalize;
}

.section-header__subtitle ,.section-header__subtitle-w{
  font-family: $jp2-font-family;
  color: $green-accent;
  line-height: calc(18/12);
  font-size: rem(12);
  text-align: center;
  padding-top: rem(3);
}

.section-header__title-w ,.section-header__subtitle-w{
  color: $white;
}