@use "global" as *;

.voice {
  display: block;
  position: relative;
}

.voice__img-left {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-80);
    left: calc(50% - min(47vw, rem(570)));
    width: 29.902778%;
    height: auto;
    max-width: rem(301);
  }
}

.voice__img-right {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: -0.05*100vw;
    right: calc(50% - min(47vw, rem(550)));
    max-width: calc(71/1440)*100%;
    height: auto;
  }
}

.voice__works {
  margin-top: rem(28);
}