@use "global" as *;

.voice-works__inner{
  max-width: rem(600);
}

.voice-works__button{
  margin-top: rem(32);
  padding-bottom: rem(5);
  padding-right: rem(5);
  text-align: center;

  @include mq("md") {
    margin-top: rem(64);
  }
}
