@use "global" as *;

.voice-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  // padding-top: 40.936102%;
  // position: relative;
  // @include mq("md"){
  //   padding-top: calc(140/472)*100%;
// }
}

.voice-content__tag {
  display: block;
  width: 47.603834%;
  text-align: left;
    height: fit-content;
  @include mq(md) {
    width: calc((calc(276/472)*100%) - rem(16) * 1 / 2);
  }
}

.voice-content__img {
  align-items: flex-end;
  width: 48.242812%;
  height: 100%;
  @include mq(md) {
    width: calc(180/472)*100%;
  }
}

.voice-content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}